@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);


.root {
  min-width: 320px;
  max-width: 1280px;
  background-color:  rgba(0, 0, 0, 1);
  margin: 0 auto;
}

.page {
  font-family: 'Inter', 'Arial', 'Helvetica Neue', sans-serif;
  font-style: normal;
  color: #FFFFFF;
  width: 100%;
  margin: 0 auto;
  padding: 28px 0 36px;
}

@media screen and (min-width: 768px) {
  .page {
    max-width: 880px;
    padding: 45px 0 60px;
  }
}



/*хедер*/



.header {
  max-width: 320px;
  min-height: 56px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 912px) {
  .header {
    max-width: 880px;
    min-height: 74px;
    margin: 0 auto;
  }
}
 
.header__logo {
  margin-left: 27px;
  max-width: 103.74px;
}

@media screen and (min-width: 912px) {
  .header__logo {
    margin-left: 0;
    max-width: 142px;
  }
}

.header__line {
  opacity: 0.7;
  border: 1px solid #545454;
}




 /*микс для отступов*/
.page__section {
  margin-bottom: 42px;
}




/*профтиль*/

.profile {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 912px) {
.profile {
  flex-direction: row;
  justify-content: start;
}
}


.profile__section {
  margin-bottom: 36px;
}

@media screen and (min-width: 912px) {
  .profile__section {
    margin-bottom: 47.25px;
  }
}

.profile__avatar {
  max-width: 120px;
  margin: 0 auto;
}

@media screen and (min-width: 912px) {
  .profile__avatar {
    margin: 0;
  }
}

.profile__image {
  border-radius: 50%;
  max-width: 120px;
}

@media screen and (min-width: 912px) {
  .profile__info {
    padding-left: 31px;
  }
}

.profile__name {
  max-width: 282px;
  margin: 0 auto;
  display: flex;
}

@media screen and (min-width: 912px) {
  .profile__name {
    margin: 0; 
    max-width: 336px;
  }
}


.profile__edit-button {
  width: 18px;
  height: 18px;
  background-image: url(../images/Vector\ \(3\).svg); /*поменять путь*/
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: 7.5px 7.5px;
  background-position: center center;
  margin-top: 31px;
  margin-left: 11px;
  border: 1px solid #FFFFFF;
}

@media screen and (min-width: 912px) {
  .profile__edit-button {
    width: 24px;
    height: 24px;
    background-size: 10px 10px;
    margin-top: 35px;
    margin-left: 18px;
  }
}

.profile__title {
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  text-align: center;
  margin: 22.25px 0 7px 46px;
}

@media screen and (min-width: 912px) {
  .profile__title {
    font-size: 42px;
    line-height: 48px;
    text-align: start;
    margin-left: 0;
  }
}

.profile__hobby {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 912px) {
  .profile__hobby {
    font-size: 18px;
    line-height: 22px;
    text-align: start;
  }
}

.profile__add-button {
  min-width: 282px;
  min-height: 50px;
  margin: 33px auto 0;
  padding: 0;
  display: block;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 1);;
}

@media screen and (min-width: 912px) {
  .profile__add-button {
    min-width: 150px;
    height: 50px;
    margin: 33px 0 0 244px;
  } 
}




/* карточки*/

.group__element {
  max-width: 282px;
  max-height: 361px;
  margin: 0 auto;
  line-height: 0;
  border-radius: 10px;
  overflow: hidden;
}

.group_ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 17px;
  row-gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}


.group__container {
  height: 79px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.group__content {
  display: flex;
  min-width: 240px;
  justify-content: space-between;
  align-items: center;
}

.group__title {
  color: #000000;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 192px;
}

.group__button {
  width: 22px;
  height: 19px;
  background-image: url(../images/Vector.svg); /*поменять путь*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: 0;
  background-color: #FFFFFF; 
}

.footer {
  max-width: 282px;
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  .footer {
    max-width: 318px;
    margin: 0;
  }
}

.footer__section {
  margin-top: 48px;
}

@media screen and (min-width: 1280px) {
  .footer__section {
    margin-top: 67px;
  }
}

.footer__author {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #545454;
}

@media screen and (min-width: 1280px) {
  .footer__author {
    font-size: 18px;
    line-height: 22px;
  }
}